@use "../abstracts/" as *;

.cta {
  @include flex-columns-center;
  align-items: center;
   align-items: center;
    font-family: "Roboto", sans-serif; 
  .btn {
    margin-top: 4rem;
    border: none;
    background-color: $CTA;
    width: 18.75rem;
    padding: 1rem;
    font-size: $header-3;
    color: $font;
    text-decoration: none;
    transition: all;
    border: 1px solid hsl(0, 0%, 50%);
    cursor: pointer;
    border-radius: 10px; 

  }
  .title {
    @include flex-columns-center;
    line-height: 3rem;
  }

  h2{
        margin-top: 2rem;
        padding-top: 1rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
