@use "../abstracts/" as *;

footer {
  @include flex-columns-center;
  height: 12rem;
  background-color: $bg-header-footer;
  .footer-list {
    height: 90%;
    align-items: center;
    @include flex-rows-center;
    li:first-child,
    li:last-child {
      padding: 0 0;
    }
    li {
      a {
        font-size: $header-3;
        font-weight: 900;
        font-family: $roboto;
        color: $font;
        text-decoration: none;
        &:hover {
          color: rgb(107, 92, 92)
        }
      }
      padding: 0 3rem;
    }
  }
  .copyright {
    @include flex-rows-center;
    margin-top: 2.8rem;
    color: $font;
  }

  .arrow-up {
    margin:0.5rem auto 2rem auto;
    cursor: pointer;
    animation: action 1s infinite alternate;
    @-webkit-keyframes action {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
    @keyframes action {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }

  .fas {
    color: $font;
    animation: MoveUpDown is linear infinite;
    &:hover {
      color: rgb(107, 92, 92);
    }
  }
}
